block append links
  link(rel="stylesheet" href="../style/input_elements.css")
  link(rel="stylesheet" href="../style/responsive_table.css")
  link(rel="stylesheet" href="../style/action_bar.css")
  link(rel="stylesheet" href="style/list.css")

  //- Rodeo styles
  link(rel="stylesheet" href="/lib/rodeo-ui/vendor/jqwidgets/jqwidgets/styles/jqx.base.css")
  link(rel="stylesheet" href="/lib/rodeo-ui/src/styles/rodeoUI.css")
  link(rel="stylesheet" href="/lib/rodeo-ui/src/components/ph-button/styles/rodeoUI-button.css")
  link(rel="stylesheet" href="/lib/rodeo-ui/src/components/ph-checkbox/styles/rodeoUI-checkbox.css")
  link(rel="stylesheet" href="/lib/rodeo-ui/src/components/ph-dropdown-list/styles/rodeoUI-dropdown-list.css")
  link(rel="stylesheet" href="/lib/rodeo-ui/src/components/ph-text-input/styles/rodeoUI-text-input.css")
  link(rel="stylesheet" href="/lib/rodeo-ui/src/components/ph-grid/styles/rodeoUI-table-grid.css")

block append scripts 
    script(src="./node_modules/angular/angular.min.js")
    script(src="/lib/jquery/jquery.min.js")
    script(src="./scripts/index.js")

   

extends ../../pronghorn-core/ui/views/layout

block append header
    title Workflow URI Shortcuts
    meta(name="path" content="/jobs")
    meta(name="roles" content="admin")


block append content
    div.content
        div.title-bar
            h3.title API Builder
        div.workspace
            div(ng-app="apiBuilder" ng-controller="Ctrl")

                script(type="text/ng-template" id="display")
                    td
                        {{uri.key}}
                    td
                        {{uri.workflow}}
                    td
                        {{uri.outputTask | getSummary}}
                    td
                        button.edit.primary-icon.button(ng-click="editUri(uri)")
                            span.edit
                        button.delete.primary-icon-button(ng-click="deleteUri($index)")
                            span.delete
        
                script(type="text/ng-template" id="edit")
                    td
                        input(type="text" ng-model="uri.key")
                    td
                        //-input(type="text" ng-model="uri.workflow")
                        select(ng-model="uri.workflow" ng-options="wf for wf in wfList" ng-change="changeWorkflow($index)")
                    td
                        //-input(type="text" ng-model="uri.outputTask")
                        //-select(ng-model="uri.outputTask" ng-options="task.summary for task in taskListOptions track by task.taskId")
                           //- option(value="<--Select Task-->")
                        select(ng-model="uri.outputTask")
                            option(ng-repeat="task in taskListOptions" value="{{task}}")
                                {{task.summary}}
                    td
                        button.save.primary-icon-button(ng-click="saveUri($index)")
                            span.save
                        button.close.primary-icon-button(ng-click="reset()")
                            span.close
                        button.delete.primary-icon-button(ng-click="deleteUri($index)")
                            span.delete

                table.responsive#uri_table
                    thead
                        tr.column-names
                            th
                                label URI Key
                            th
                                label workflow
                            th
                                label Output Task
                            th.edit
                            //-button?
                    tbody#uri_table_body
                        tr(ng-repeat="uri in uriList" ng-include="getTemplate(uri)")

                buttonprimary-action.add.ph-button.jqx-ph-secondary.jqx-fill-state-normal(ng-click="newRow()" title="Add Row")
                    label + Add Row
                    